.loader {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }

.rulesEditorButtonsContainer{
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 45rem) {
        display: block;
  }
}  

.listItemText{
    font-size: 1.1rem;
    padding-top: 0.4rem;
    font-weight: bold;
}

.content-container {
    margin: 0 auto;
    padding: 0 0.6rem;
    max-width: 80rem; 
    @media (min-width: 45rem) {
          padding: 1.5rem 20rem;
    }
}

.app-container{
    background-color: darkslategray;
    padding: 20px;
    border-radius: 5px;
}
  
.listItem{
    border-radius: 5px;
    padding: 0.7rem;
    margin-bottom: 10px;
    background-color: black;
    color: white;
}

.title{
    text-align: center;
    color: $dark-grey;
}

.error{
    color: #ff4d4d
}